# Ignore everything except src folder and main notebook
*

# But don't ignore src folder
!src/
!src/**

# Don't ignore fig (README assets)
!fig/
!fig/**

# Don't ignore main notebook and main.py
!main.ipynb
!main.py

# Don't ignore readme files
!README.md

# Ignore Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Don't ignore .gitignore itself
!.gitignore

# development files
main.ipynb
main_pad.py
main_ham.py